html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(to top, #f1f1f1, #eaeaea);
  /* background-image: url(bg_goodwill_storefront.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  color: white;
  padding-top: 2rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.5rem;
  line-height: 60px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  gap: 4rem;
}

.navbar-middle h1 {
  color: #004d99;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 1rem;
  margin: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  margin-right: 2rem;
}

.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3.5vh;
  height: 0;
}

.navbar-logo {
  height: 7rem;
  /* width: auto; */
}

.home-button {
  position: relative;
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
  text-align: center;
  align-items: center;
  list-style: none;
  padding-bottom: 1rem;
}

/* .navbar a {
  text-decoration: none;
  color: #004d99;
} */

/* Dropdown Container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Button */
.dropdown-button {
  color: #004d99;
  font-size: 0.8rem;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
  padding-bottom: 1rem;
}

/* Dropdown Button Hover Effect */
.dropdown-button:hover {
  color: #ccc;
}

.dropdown.contact {
  display: flex;
  align-items: center; /* Align the label and button vertically */
  justify-content: flex-start; /* Align items to the left */
  gap: 0; /* Add spacing between the label and the button */
  margin-right: 1rem; /* Add some margin to the right */
}

/* Dropdown Contact Label */
.dropdown.contact label {
  cursor: pointer;
  text-decoration: none;
  color: #004d99;
  position: relative;
  font-size: 1.1rem;
  font-weight: bold;
  display: block;
  text-align: center;
  align-items: center;
  list-style: none;
  padding-bottom: 1rem;
}

/* Dropdown Menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 6px;
  list-style: none;
  padding: 0.5rem 0.5rem;
  margin: 0;
  z-index: 1000;
  width: auto;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Dropdown Menu Items */
.dropdown-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  /* padding: 0.5rem 1rem; */
}

.dropdown-menu li a {
  position: relative;
  font-size: 1.2rem;
  text-align: center;
  width: auto;
  height: auto;
  text-decoration: none;
  color: #004d99;
  display: block;
  padding: 0.5rem 1rem;
  align-items: center;
  transition: background-color 0.3s ease;
  border-radius: 6px;
  line-height: 1.2;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

/* Show Dropdown Menu */
.dropdown-menu.show {
  display: block;
}

.navigation-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4.5rem;
  margin-left: 0;
  padding: 1.3rem 1rem 0.5rem;
  position: relative;
  gap: 1rem;
  width: 100%;
  background: linear-gradient(to top, #92ceff, #c6ddfe);
  /* border-bottom: 1px solid black; */
  box-sizing: border-box;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.navigation-buttons .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 80%;
}

.navigation-buttons .link-set {
  display: flex;
  flex-direction: row; /* Arrange buttons horizontally */
  gap: 0.5vw; /* Add space between buttons */
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem; /* Space between different link-sets */
}

.navigation-buttons .links a {
  display: inline-flex;
  padding: 1vh 2vw; /* Add padding inside the buttons */
  font-size: 1rem; /* Dynamically scale font size */
  color: white; /* Button text color */
  background-color: #004d99; /* Button background color */
  border: none; /* Remove borders */
  border-radius: 6px; /* Add rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  width: 4.5vw;
  max-width: 100%;
}

.navigation-buttons a:hover {
  background-color: #003366; /* Darken the button on hover */
}

.tab-btns {
  display: flex;
  width: 100%;
  min-width: 0;
  max-width: none;
  text-align: center;
  border-top: 1px solid white;
  border-right: none;
  background: linear-gradient(to bottom, #004d99, #007dfa);
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  gap: 0;
  z-index: 9999;
}

.tab-btns button {
  width: auto;
  flex: 1;
  height: 100%;
  background: none;
  border: none;
  color: white;
  font-size: inherit;
  cursor: pointer;
  padding: 1rem;
}

.tab-btns button:hover {
  background-color: #00246ba9; /* Light gray background on hover */
}

.tab-btns:last-child {
  border-right: 1px solid #004d99;
}

.banner-image {
  position: relative;
  background-image: url(bg_goodwill_storefront.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
  height: 50vh;
  width: 100%;
}

.banner-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(200, 200, 200, 0.5); /* white with 40% opacity */
  pointer-events: none; /* allows clicks to pass through */
  z-index: 1;
}

.notes-container {
  background-image: url(bluebackgroundNotePad.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  margin-top: 2rem;
  gap: 1rem;
  box-sizing: border-box;
}

.notes-container.show {
  display: flex;
}

/* .take-notes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 2vw;
  gap: 0.5rem;
  width: 100%;
  max-width: 80%;
}

.take-notes #take-notes-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  margin-right: 5vw;
  gap: 0.5rem;
  font-size: 0.8vw;
  color: white;
  background-color: #004d99;
  border-radius: 6px;
  cursor: pointer;
}

.take-notes #take-notes-button:hover {
  background-color: #003366;
} */

/* .note-pad.show {
  display: flex;
} */

#note {
  background-image: url(notesPic.webp);
  background-size: cover;
  background-position: center;
}

.note-pad {
  flex: 2 1 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10vw;
  gap: 0.5rem;
  width: 100%;
  margin-top: 6rem;
}

.note-pad #note {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 60%;
  height: 30vh;
  margin-left: 20vw;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.note-pad-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin-left: 40vw;
  box-sizing: border-box;
  /* margin-left: 30vw; */
  /* gap: 1rem; */
}

.note-pad-header label {
  font-size: 2rem;
  color: #004d99;
  font-weight: bold;
  margin-left: 0;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}

.note-pad-header input {
  width: 35%;
  /* max-width: 100%; */
  /* margin-left: 5vw; */
  height: 2vh;
  padding: 1rem;
  font-size: 1.2rem;
  margin-left: 1vw;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.note-pad-buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-right: 0;
  padding: 1rem;
  font-size: 1.2rem;
  gap: 1rem;
}

.note-pad-buttons button {
  padding: 1vh;
  font-size: 1.1rem;
  color: white;
  background-color: #004d99;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.note-pad-buttons button:hover {
  background-color: #003366;
}

.all-notes-list-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.notes-list-input-btn {
  display: flex;
  margin-top: 1rem;
}

.notes-list-input-btn button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #004d99;
  color: white;
  padding: 1vh;
  gap: 0.5rem;
  border-radius: 0 6px 6px 0;
  margin-left: -1px;
  cursor: pointer;
}

.notes-list-input-btn button:hover {
  background-color: #003366;
}

.email-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1vh;
  gap: 0.5rem;
  margin-left: -1px;
  font-size: 0.8vw;
  color: white;
  background-color: #004d99;
  border: 1px solid black;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.email-btn:hover {
  background-color: #003366;
}

.notes-list-input-btn a {
  display: flex;
  text-decoration: none;
  color: white;
  gap: 0.5rem;
}

.notes-list-input-btn input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  gap: 0.5rem;
  border-radius: 6px 0 0 6px;
}

/* .notes-list-btns input {
  padding: 4vh;
  font-size: 1.1rem;
  color: white;
  background-color: #004d99;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.notes-list-container {
  flex: 1 1 40%;
  position: relative;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  min-width: 50vw;
  height: 100%;
  min-height: 60vh;
  margin-top: 2rem;
  margin-left: -10vw;
}

.notes-list-container.show {
  display: flex;
}

#note-title {
  background-image: url(notesPic.webp);
  background-size: cover;
  background-position: center;
  border: black 1px solid;
}

.notes-list {
  background-image: url(notesPic.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: black 1px solid;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  height: 50vh;
  width: 50%;
  /* flex-wrap: wrap; */
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 1vw;
  background-color: #f5f5f5;
  font-size: 1.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* overflow-y: auto;
  overflow-x: hidden; */
  overflow: auto;
  max-width: 100%;
}

.note-item {
  max-width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.note-item::before {
  content: "•";
  color: #004d99; /* Choose your bullet color */
  font-size: 1.5em; /* Adjust size as needed */
  margin-right: 0.5em; /* Space between bullet and text */
  vertical-align: middle;
}

.frame iframe {
  position: relative;
  left: 0;
  margin-top: 1rem;
  width: 100%;
  height: calc(100vh - 7rem);
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.frame #retail-reports {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200vh;
}

.frame #retail-reports.show {
  display: flex;
}

.frame #analytics-funnel {
  display: none;
}

.frame #analytics-funnel.show {
  display: flex;
}

.frame #bar-chart {
  display: none;
}

.frame #bar-chart.show {
  display: flex;
}

.frame #google-calendar {
  display: flex;
}

.frame #google-calendar.hide {
  display: none;
}
